<?xml version="1.0" encoding="utf-8" ?>
<suite name="Pollfish QA test">

    <parameter name="rcHost" value="localhost" />
    <parameter name="rcPort" value="4444" />
    <parameter name="targetHostUrl" value="https://www.pollfish.com/" />
    <parameter name="debugging" value="true" />
    <parameter name="browser" value="chrome" />
    <parameter name="driverType" value="webdriver" />
    <parameter name="actionsLogging" value="true" />
    <parameter name="waitForElement.Timeout"  value="20"/>
        <listeners>
            <listener class-name="com.persado.oss.quality.stevia.selenium.listeners.TestListener"/>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
        </listeners>
    <test name="Test Pollfish basic flow" preserve-order="true">
        <classes>
            <class name="com.pollfishqa.quality.PollfishQATest" />
        </classes>
    </test>

</suite>